<!DOCTYPE html>
<html lang="en">
    <head>
        <base href=" /">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="icon" href=" {% static 'assets/img/fav-icon.png' %}" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Mebelkom мебельный магазин</title>

        <!-- Icon css link -->
        <link href=" {% static 'assets/css/font-awesome.min.css' %} " rel="stylesheet">
        <link href=" {% static 'assets/vendors/line-icon/css/simple-line-icons.css' %} " rel="stylesheet">
        <link href=" {% static 'assets/vendors/elegant-icon/style.css' %} " rel="stylesheet">
        <!-- Bootstrap -->
        <link href=" {% static 'assets/css/bootstrap.min.css' %} " rel="stylesheet">
        <link href=" {% static 'assets/css/style.css' %} " rel="stylesheet">

        <!-- <link href=" {% static 'assets/css/responsive.css' %} " rel="stylesheet"> -->

        <!-- HTML5 shim and Respond.js' %}  for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js' %}  doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js' %} "></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %} "></script>
        <![endif]-->
    <link rel="stylesheet" href=" {% static 'styles.1be2c14e934a59c311b3.css' %} ">
    <!-- Yandex.Metrika counter -->
<script async type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(66909028, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/66909028" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    </head>
    <body style="overflow-y: scroll;margin-right:0px;">
    <!--   -->
<app-root></app-root>
    <script type="text/javascript" src="{% static 'runtime.26209474bfa8dc87a77c.js' %} "></script>
    <script type="text/javascript" src="{% static 'es2015-polyfills.b0657154bc33c6ff11ae.js' %} " nomodule></script>
    <script type="text/javascript" src="{% static 'polyfills.8bbb231b43165d65d357.js' %} "></script>
    <script type="text/javascript" src="{% static 'scripts.0de8d7ad90b367381f30.js' %} "></script>
    <script type="text/javascript" src="{% static 'main.7503957e4a1f9bdbb629.js' %} "></script>
</body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script async src= "{% static 'assets/js/jquery-3.2.1.min.js'  %} "></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script async src= "{% static 'assets/js/popper.min.js' %}"></script>
    <script async src= "{% static 'assets/js/bootstrap.min.js' %} "></script>
    <script async src= "{% static 'assets/js/main.js' %} "></script>
    <script async src= "{% static 'assets/js/theme.js' %} "></script>
</html>
